:root {
	--black: #373b3e;
	--grey: #bec8d1;
	--mikuBlue: #00ddc0;
	--mikuBlueDark: #137a7f;
	--magenta: #ff06b5;
	
	background-color: var(--mikuBlue);
	cursor: url("./cursors/Normal_Select.cur"), auto;
}

body {
	background-color: var(--black);
	width: 80%;
	margin: auto;
}

h1 {
	color: var(--magenta); 
}

td {
	text-align: center;
}

a:hover {
	cursor: url("./cursors/Link_Select.cur"), auto;
}


.headerBox {
	background-color: var(--grey);
	width: 80%;
	margin: auto;
	border: 2px solid var(--mikuBlue);
}

.navBar {
	margin: auto;
	width: 80%;
}

.navButton {
	color: var(--magenta);

}

.footer {}
